.site-footer {
    display: block;
    position: fixed;
    z-index: 98;
    .connect {
        display: block;
        position: fixed;
        right: 4rem;
        bottom: 4rem;
    }
    a {
        display: inline-block;
        line-height: 1;
        margin-left: 1.5rem;
    }
    svg {
        display: inline-block;
        width: 1.2rem;
        height: auto;
        vertical-align: middle
    }
    path {
        fill: #ffffff;
    }
}