.logo {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        content: "\e900";
    }
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

.auto {
    margin: auto;
}

.heading-text-shadow {
    text-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.3), 0 0 15px rgba($color: #000000, $alpha: 0.2);
}

.content-padding {
    padding: 0 2rem;
}

.container-md {
    @extend .auto, .content-padding;
    max-width: 800px;
}
.container-lg {
    @extend .auto, .content-padding;
    max-width: 1040px;
}

.main {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: hidden;
}