.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.width100 {
    width: 100%;
}
.height100 {
    height: 100%;
}
.width100height100 {
    width: 100%;
    height: 100%;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.top0left0 {
    top: 0;
    left: 0;
}
.margin0padding0 {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

.auto {
    margin: auto;
}

.heading-text-shadow {
    text-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.3), 0 0 15px rgba($color: #000000, $alpha: 0.2);
}

.content-padding {
    padding: 0 2rem;
}

.container-md {
    @extend .auto,
    .content-padding;
    max-width: 800px;
}

.container-lg {
    @extend .auto,
    .content-padding;
    max-width: 1040px;
}

.main {
    @extend .block, .fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: hidden;
}

.scrollbar {
    @extend .block, .fixed, .height100;
    z-index: 10;
    top: 0;
    right: 0;
    width: 2px;
    background: rgba($color: #ffffff, $alpha: 0.6);
    will-change: transform;
}