@import url('https://rsms.me/inter/inter-ui.css');
@import "_variable";
@import "_font";
@import "_reset";
@import "_mixin";
@import "_header";
@import "_footer";

$reveal-duration: 0.3s;

.reveal {
    display: inline-block;
    position: relative;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform $reveal-duration ease-in;
    transition-delay: $reveal-duration;
    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #ffffff, $alpha: 1);
        transform: scaleX(1);
        transform-origin: top right;
        transition: transform $reveal-duration ease-in;
        transition-delay: 0s;
    }
    &.active {
        transform: scaleX(1);
        transition-delay: 0s;
        &::after {
            transform: scaleX(0);
            transition-delay: $reveal-duration;
        }
    }
}

.home-intro {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 6;
    h1, h2 {
        margin: 0;
        padding: 0;
        font-size: 8.4rem;
        line-height: 1.2;
        margin-bottom: 5px;
        font-weight: 900;
        white-space: nowrap;
        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 3rem;
        }
    }
    h2 {
        font-size: 1.6rem;
        font-weight: 500;
        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 1.4rem;
        }
    }
    
}

/*
 * Project Single
 */

.fixed-center {
    display: block;
    position: fixed;
    z-index: 2;
}

.project-single {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #111111;
    padding: 4rem 0;
    z-index: 4;
}
.project-content {
    position: relative;
    width: auto;
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;
}
.project-intro {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6rem;
}
.project-overview {
    width: 70%;
    padding-right: 4rem;
    h4 {
        margin: 0;
        padding: 0;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        font-size: 1.6rem;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}
.project-meta {
    width: 30%;
    h4, h5 {
        margin: 0;
        padding: 0;
        margin-bottom: 4rem;
        font-size: 2rem;
        font-weight: 400;
    }
    h5 {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #cccccc;
        margin-bottom: 1rem;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}


.noise-canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.project-slider-canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /*filter: grayscale(100%);*/
}
.project-slider-info {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    .project-slider-link {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0s;
        h2 {
            margin: 0;
            padding: 0;
            font-size: 8rem;
            font-weight: 900;
            color: #ffffff;
            text-align: center;
            @media screen and (max-width: $mobile-breakpoint) {
                font-size: 4rem;
            }
            @media screen and (max-width: 600px) {
                font-size: 2.4rem;
            }
        }
        &.curr {
            z-index: 2;
            opacity: 1;
            transition-delay: 0.2s;
        }
        .project-title {
            position: relative;
            h4 {
                position: absolute;
                width: 100%;
                max-width: 600px;
                font-weight: 500;
                font-size: 1.4rem;
                text-align: center;
                left: 50%;
                top: 100%;
                transform: translate3d(-50%, 2rem, 0);
                transition: all 0.4s ease-in-out;
                opacity: 0;
                &.active {
                    opacity: 1;
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
    }
}
.project-index {
    display: block;
    position: fixed;
    left: 4rem;
    bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    transition: opacity 0.4s;
    .index, .sep, .total {
        display: inline-block;
        vertical-align: middle;
        width: 3rem;
        text-align: left;
    }
    .sep {
        height: 1px;
        background: #ffffff;
        /*width: 2rem;*/
    }
    .total {
        text-align: right;
    }
    .index {
        height: 1.4rem;
        position: relative;
    }
    .num {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s;
    }
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    h1, h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 500;
    }
    h1 {
        font-weight: 700;
        font-size: 8rem;
        line-height: 1.1;
    }
}