@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700');
@import "_variable";
@import "_reset";
@import "_mixin";
@import "_header";
@import "_footer";
@import "_about.sass";

.fixed-center {
    @extend .block, .fixed;
    z-index: 2;
}

.project-single {
    @extend .block, .absolute, .width100, .top0left0;
    height: auto;
    background: #111111;
    padding: 4rem 0;
    z-index: 4;
    will-change: transform;
}
.project-content {
    position: relative;
    width: auto;
    max-width: 120rem;
    margin: auto;
    padding: 0 2rem;
}
.project-intro {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6rem;
}
.project-overview {
    width: 70%;
    padding-right: 4rem;
    h4 {
        @extend .margin0padding0;
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        font-size: 1.4rem;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}
.project-meta {
    width: 30%;
    h4, h5 {
        @extend .margin0padding0;
        margin-bottom: 3rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    h5 {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #cccccc;
        margin-bottom: 0;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}


.noise-canvas {
    @extend .block, .fixed, .top0left0;
    z-index: 2;
}
.project-slider-canvas {
    @extend .block, .fixed, .top0left0;
    will-change: transform;
    z-index: 1;
}
.project-slider-info {
    @extend .block, .fixed, .width100height100, .top0left0;
    will-change: transform;
    z-index: 3;
    .project-slider-link {
        @extend .absolute, .width100height100, .top0left0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        transition-delay: 0s;
        h2 {
            @extend .margin0padding0, .condensed;
            font-size: 10rem;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
            @media screen and (max-width: $mobile-breakpoint) {
                font-size: 6rem;
            }
            @media screen and (max-width: 600px) {
                font-size: 4rem;
            }
        }
        &.curr {
            z-index: 2;
            opacity: 1;
            transition-delay: 0.2s;
        }
        .project-title {
            position: relative;
            width: 90%;
            h4 {
                @extend .absolute, .width100;
                max-width: 600px;
                font-weight: 500;
                font-size: 1.4rem;
                text-align: center;
                left: 50%;
                top: 100%;
                transform: translate3d(-50%, 2rem, 0);
                transition: all 0.4s ease-in-out;
                opacity: 0;
                &.active {
                    opacity: 1;
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }
    }
}
.project-index {
    @extend .block, .fixed;
    left: 4rem;
    bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    transition: opacity 0.4s;
    .index, .sep, .total {
        @extend .inline-block;
        vertical-align: middle;
        width: 3rem;
        text-align: left;
    }
    .sep {
        height: 1px;
        background: #ffffff;
    }
    .total {
        text-align: right;
    }
    .index {
        height: 1.4rem;
        position: relative;
    }
    .num {
        @extend .absolute, .top0left0;
        transition: all 0.4s;
    }
}

.not-found {
    @extend .absolute, .width100height100, .top0left0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1, h2 {
        @extend .margin0padding0;
        font-size: 2rem;
        font-weight: 500;
    }
    h1 {
        font-weight: 700;
        font-size: 8rem;
        line-height: 1.1;
    }
}

.scroll-indicator-wrapper {
    @extend .block, .absolute;
    bottom: 4rem;
    left: 50%;
    z-index: 9;
    transform: translate3d(-50%, 10px, 0) scale(0.8);
    opacity: 0;
    transition: all 0.4s;
    &.active {
        opacity: 1;
        transform: translate3d(-50%, 0, 0) scale(0.8);
    }
}
.scroll-indicator {
    @extend .block;
    width: 30px;
    animation: nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
    &::before {
        @extend .block, .absolute;
        content: '';
        width: 30px;
        height: 45px;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
        border-radius: 30px;
    }
    &::after {
        @extend .block, .absolute;
        content: '';
        width: 2px;
        height: 6px;
        left: 50%;
        margin-left: -1px;
        top: 20px;
        background: rgba($color: #ffffff, $alpha: 0.5);
        animation: trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
    }
    svg {
        @extend .block, .width100;
        height: auto;
        position: relative;
    }
    path {
        stroke-dasharray: 120;
        stroke-dashoffset: 120;
        transition: stroke-dashoffset 1s;
    }
    &:hover {
        path {
            stroke-dashoffset: 0;
        }
    }
}

@keyframes nudgeMouse{
    0%{
        transform:translateY(0);
    }
    45%{
        transform:translateY(8px);
    }
    65%,100%{
        transform:translateY(0);
    }
}
@keyframes trackBallSlide{
    0%{
        opacity:1;
        transform:scaleY(1) translateY(-10px);
    }
    45%{
        opacity:0;
        transform:scaleY(0.5) translateY(13px);
    }
    46%{
        opacity:0;
        transform:scaleY(1) translateY(-10px);
    }
    65%,100%{
        opacity:1;
        transform:scaleY(1) translateY(-10px);
    }
}

.project-body {
    font-size: 1.4rem;
    h2, h3 {
        @extend .margin0padding0;
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        position: relative;
        &::after {
            @extend .block, .absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 20px;
            height: 2px;
            background: #ffffff;
        }
    }
    p {
        @extend .margin0padding0;
        margin-bottom: 1.2rem;
    }
    img, video {
        @extend .block;
        margin: 0 auto 4rem auto;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 6rem;
        &:nth-child(even) {
            .col {
                &:nth-child(1) {
                    transform: translate3d(66.66%, 0, 0);
                    @media screen and (max-width: 800px) {
                        transform: translate3d(0, 0, 0);
                    }
                }
                &:nth-child(2) {
                    padding-left: 0;
                    padding-right: 6rem;
                    transform: translate3d(-150%, 0, 0);
                    @media screen and (max-width: 800px) {
                        padding-right: 0;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
        img, video {
            margin-bottom: 2rem;
        }
    }
    .col {
        &:nth-child(1) {
            width: 60%;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
        &:nth-child(2) {
            width: 40%;
            padding-left: 6rem;
            @media screen and (max-width: 800px) {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}